{% load static swampdragon_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="icon" href="{% static "assets/img/logo.png" %}">
  <title>Dropjangles - Login</title>

  <!-- Bootstrap -->
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="{% static "assets/custom_login/custom_login.css" %}" rel="stylesheet">

    <style>
      {% block style %}{% endblock %}
    </style>

</head>
<body>


  <!-- Where all the magic happens -->
  <!-- LOGIN FORM -->
  <center>
    <img src='{% static "assets/custom_login/img/dropjangles_banner.png" %}' id='dj-logo'>
  </center>
  <div class="text-center" style="padding:0px 0">
  {% block content %}
  {% endblock %} 
  </div>



    <!-- JavaScript -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.js" %}"></script>
    <!-- jasny bootstrap-->
    <script type="text/javascript" src="{% static "assets/jasny-bootstrap/js/jasny-bootstrap.js" %}"></script>

    <script type="text/javascript" src="{% static "assets/custom_login/custom_login.js" %}"></script>





  </body>
  </html>