{% load static swampdragon_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap & Fonts -->
    <link href="{% static "bootstrap3/css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "bootstrap3/css/font-awesome.css" %}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>

    <!-- Get Shit Done DK -->
    <link href="{% static "assets/css/get-shit-done.css" %}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="{% static "assets/css/sidebar-collapse.css" %}" rel="stylesheet" />
    <link href="{% static "assets/css/custom.css" %}" rel="stylesheet" />
    <link href="{% static "assets/css/table.css" %}" rel="stylesheet" />

    <!-- Select2 -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>


    <title>Dropjangles</title>
</head>

<body id="page-top" class="index">
    <!-- Sidebar -->
    <!-- http://tutorialzine.com/2015/04/freebie-5-elegant-and-responsive-sidebar-templates/ -->
    <aside class="sidebar-left-collapse">
        <!-- <a href="#" class="company-logo">Logo</a> -->
        <center>
            <img src='{% static "assets/img/logo.png" %}' id='logo-short'>
        </center>
        <div class='search'>
            <!-- <select class='form-control' >
                {% for course in course_list %}
                    <option value='{{ course.name }}'>{{ course.name }}</option>
                {% endfor %}
            </select> -->
            <!-- initialize the select element for select2 -->
            <script type="text/javascript">
              $(".js-example-basic-multiple").select2();
            </script>
            <select class="js-example-basic-multiple" multiple="multiple">
                {% for course in course_list %}
                    <option value='{{ course.name }}'>{{ course.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="sidebar-links">
            {% for course in timetableCourses %}
                <div class="link-orange">
                    <a href="#">
                        <div class='link-orange'>{{ course.name }}</div>
                    </a>
                    <ul class="sub-links">
                        {% for class in class_list %}
                            <li><a href="#">
                                {% if class.course.name == course.name %}
                                    <div class='sub'>
                                        <button class="addClass btn btn-warning">{{ class.get_classtype_display }}</button>
                                    </div>
                                {% endif %}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </aside>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class='timetable'>
        <center>
            <div class='title'>
                Dropjangles
            </div>
        </center>
        <table class="table table-bordered" style="width:70%; table-layout: fixed " id="TimeTable" align="center">
            <tr id="Days">
                <td></td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
                <td>Sunday</td>
            <tr id="9:00 am">
                <td>9:00 am</td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr>
            <tr id="10:00 am">
                <td>10:00 am</td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 

            <tr id="11:00 am">
                <td>11:00 am</td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr>
            <tr id="12:00 pm">
                <td>12:00 pm</td>   
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr>
            <tr id="1:00 pm">
                <td>1:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 
            <tr id="2:00 pm">
                <td>2:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 
            <tr id="3:00 pm">
                <td>3:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 
            <tr id="4:00pm">
                <td>4:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr>    
            <tr id="5:00pm">
                <td>5:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 
            <tr id="6:00pm">
                <td>6:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 
            <tr id="7:00pm">
                <td>7:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr>  
            <tr id="8:00pm">
                <td>8:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 
            <tr id="9:00pm">
                <td>9:00 pm</td>    
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </tr> 
        </table>
    </div>
    <!-- End Content-->

</body>

<!-- typeahead.js -->
<script src="{% static "assets/js/typeahead.js" %}"></script>

<script>
$(document).ready(function(){
    $("#search").typeahead({
        name : 'sear',
        remote: {
            url : 'connection.php?query=%QUERY'
        }
        
    });
});
</script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- AngularJS -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

<!-- jquery css -->
<link rel="stylesheet" href="{% static "assets/css/jquery-ui-custom.css" %}">

<!-- Bootstrap Core JavaScript -->
<script src="{% static "bootstrap3/js/bootstrap.js" %}"></script>

<!-- Get Shit Done DK -->
<script src="{% static "jquery/jquery-1.10.2.js" %}"></script>
<script src="{% static "assets/js/jquery-ui-1.10.4.custom.min.js" %}"></script>
<script src="{% static "assets/js/gsdk-checkbox.js" %}"></script>
<script src="{% static "assets/js/gsdk-radio.js" %}"></script>
<script src="{% static "assets/js/gsdk-bootstrapswitch.js" %}"></script>
<script src="{% static "assets/js/get-shit-done.js" %}"></script>
<script src="{% static "assets/js/custom.js" %}"></script>

<!-- Sidebar -->
<script>
    $(function () {
        var links = $('.sidebar-links > div');
        links.on('click', function () {
            links.removeClass('selected');
            $(this).addClass('selected');

        });
    });
</script>

<!-- Controller -->
<!--script src="{% static "app.js" %}"></script-->
<script src="{% static "controllers.js" %}"></script>
<script src="{% static "timetable.js" %}"></script>

</html>
