{% load static swampdragon_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link rel="icon" href="{% static "assets/img/logo.png" %}">
  <title>Dropjangles</title>

  <!-- Bootstrap -->
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static "assets/css/custom.css" %}" rel="stylesheet" />
  <link href="{% static "assets/custom_table/table.css" %}" rel="stylesheet" />

  <!-- side bar -->
  <link rel="stylesheet" href="{% static "assets/sidebar/sidebar-collapse.css" %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

  <!-- jasny-bootstrap -->
  <link rel="stylesheet" href="{% static "assets/jasny-bootstrap/css/jasny-bootstrap.css" %}">


    <!-- Select 2 css 
    <link href="{% static "assets/css/select2.css" %}" rel="stylesheet" />
  -->

    <!-- Angucomplete Alt: Autocomplete Directive for AngularJS
    <link rel="stylesheet" href="{% static "assets/angucomplete-alt/css/structure.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/angucomplete-alt/css/angucomplete-alt.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/angucomplete-alt/fonts/bariol/bariol.css" %}"/>
  -->


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <!-- Sidebar -->
      <!-- http://tutorialzine.com/2015/04/freebie-5-elegant-and-responsive-sidebar-templates/ -->
      <aside class="sidebar-left-collapse">
        <center>
          <img src='{% static "assets/img/logo.png" %}' id='logo-short'>
        </center>

<!-- onkeypress="return event.keyCode != 13;"  -->
        <form method='POST' action='' class="input-group margin">
          <input type="text" onkeypress="return event.keyCode != 13;" name="course_code" list="courses" class="form-control" placeholder="course code" autocomplete="on" autofocus=1>
          <datalist id="courses">
            {% for course in course_list %}
            <option value='{{ course.name }}'>{{ course.name }}</option>
            {% endfor %}
          </datalist>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default not-focusable">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
        </form>
        <div class="sidebar-links">
          {% for course in timetableCourses %}
          <div class="link-yellow">
            <a style="cursor: default;">
              <div class='sidebar_remove_btn'>
                <span class='sidebar_course_code'>{{ course.name }}</span>
                <button type="button" class="btn btn-xs btn-link not-focusable" value="Click" name="rm_course">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </a>
            <ul class="sub-links">
              {% for class in class_list %}
                {% if class.course == course %}
                  <li class='sidebar_classes' id="{{ course }}|{{ class.classtype }}">{{ class.classtype }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endfor %}


        </div>
      </aside>


      <!-- Content -->
      <div class='timetable'>
        <center>
          <div class='title'>
            Dropjangles
          </div>
        </center>
        <table class="table table-bordered" height="800" style="width:65%; table-layout: fixed; text-align:center;" id="TimeTable" align="center">
          <thead id="Days">
            <td></td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
            <td>Sunday</td>
          </thead>
          <tbody>
            <tr id="9:00 am">
              <td>9:00 am</td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr>
            <tr id="10:00 am">
              <td>10:00 am</td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 

            <tr id="11:00 am">
              <td>11:00 am</td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr>
            <tr id="12:00 pm">
              <td>12:00 pm</td>   
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr>
            <tr id="1:00 pm">
              <td>1:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 
            <tr id="2:00 pm">
              <td>2:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 
            <tr id="3:00 pm">
              <td>3:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 
            <tr id="4:00pm">
              <td>4:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr>    
            <tr id="5:00pm">
              <td>5:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 
            <tr id="6:00pm">
              <td>6:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 
            <tr id="7:00pm">
              <td>7:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr>  
            <tr id="8:00pm">
              <td>8:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 
            <tr id="9:00pm">
              <td>9:00 pm</td>    
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
              <td></td> 
              <td></td>
              <td></td>
            </tr> 
          </tbody>
        </table>
      </div>
      <!-- End Content-->

      <aside class="sidebar-right-collapse">
        <p class='text-center'>Welcome, {{ user }} <br>
          <a href="{% url 'auth_logout' %}?next=/timetable/"><span class="glyphicon glyphicon-log-out" aria-hidden="true">Logout</span></a></p>
          <br>
          <!-- <center class="panel-title">Friends</center> -->
          <ul class="list-group sidebar_friendlist" style="color: black;">
            <li class="h4 list-group-item active">Friends </li>
            {% for friend in friend_list %}
            <li class="list-group-item">
              <div class"container">
                <div class="row">
                 <label class="checkbox" style="font-weight: normal !important">
                  <div class="col-xs-11">
                    {{ friend }}
                  </div>
                  <!-- <div class="col-xs-1"> -->
                  <input type="checkbox">
                  <!-- </div> -->
                </label>
              </div>
            </div>
          </li>
          {% endfor %}

          <li class="list-group-item">
            <!-- Trigger -->
            <a data-toggle="modal" data-target="#addFriendModal">Add Friend</a>
          </li>
        </ul>

        {% if pending_friend_list|length > 0 %}
        <ul class="list-group sidebar_friendlist" style="color: black;">
          <li class="h4 list-group-item active">Pending</li>
          {% for friend in pending_friend_list %}
          <li class="list-group-item">
            <div class"container">
              <div class="row">
               <label class="checkbox" style="font-weight: normal !important">
                <div class="col-xs-11">
                  <form method='POST' action='' class="form-inline">
                    <div class="form-group">
                      {{ friend }} 
                      <input type="hidden" value="{{ friend }}" name='respond_friend_code' size="0">
                      <button type="submit" class="btn btn-xs btn-link not-focusable" value="Click" name="accept_request" value="{{ friend }}">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </button>
                      <button type="submit" class="btn btn-xs btn-link not-focusable" value="Click" name="deny_request" value="{{ friend }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>
                    </div>
                  </form>
                </div>
              </label>
            </div>
          </div>
        </li>
        {% endfor %}
      </li>
    </ul>
    {% endif %}

  </aside>

  <!-- Modal creation -->
  <div id="addFriendModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a friend</h4>
        </div>
        <div class="modal-body">
          <p>Enter the username or email of the person you wish to add.</p>
          <form method='POST' action='' class="form-inline">
            <div class="form-group">
              <input type="text" autofocus class="form-control" size="35" name="friend_search" placeholder="example@dropjangles.com">
              <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Plugin JavaScript -->

  <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>

  <!-- AngularJS -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

  <!-- jquery css -->
  <link rel="stylesheet" href="{% static "assets/css/jquery-ui-custom.css" %}">

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static "js/bootstrap.js" %}"></script>

  <!-- Sidebar -->
  <script>
    $(function () {
      var links = $('.sidebar-links > div');
      links.on('click', function () {
        links.removeClass('selected');
        $(this).addClass('selected');
      });
    });
  </script>



  <!-- Controller -->
  <!--script src="{% static "app.js" %}"></script-->
  <script src="{% static "assets/sidebar/sidebar.js" %}"></script>
  <!-- <script src="{% static "controllers.js" %}"></script> -->
  <script src="{% static "assets/custom_table/timetable.js" %}"></script>   <!-- JS that control the display of classes on the timetable -->
  {% include 'tail_js.html' %}

</body>
</html>
