.tableClassSelectingNotAvail {
    background-color: gray;
}
.tableClassSelectingAvail{
    background-color: white;
}
.hasClass{
    background-color: #e8c447;
    height: 10px;
}
#userOne{
    background-color: red;
}

table, td, th {
    border: 1px solid black;
}

.dropzone.over {
  border: 2px dashed #000;
}

.sidebar_classes {
    background-color: #e8c447;
    text-align: center;
    width:;
}