.tableClassSelectingNotAvail {
    background-color: gray;
}
.tableClassSelectingAvail{
    background-color: white;
}
.hasClass{
    background-color: #e8c447;
}
#userOne{
    background-color: red;
}

table, td, th {
    border: 1px solid black;
}
